[Desktop Entry]
Type=Application
Version=1.0
Name=YaST3 Qt6
Comment=Desktop settings shell built with Python and Qt6
Exec=yast3-qt6
Icon=org.opensuse.yast3.qt6
Terminal=false
Categories=Settings;
StartupWMClass=org.opensuse.yast3.qt6
