[Desktop Entry]
Type=Application
Version=1.0
Name=YaST3 GTK4
Comment=Desktop settings shell built with Python and GTK4
Exec=yast3-gtk4
Icon=org.opensuse.yast3.gtk4
Terminal=false
Categories=Settings;
StartupWMClass=org.opensuse.yast3.gtk4
