[Desktop Entry]
Type=Application
Version=1.0
Name=YaST3
Comment=Desktop settings shell built with Python and Qt
Exec=yast3
Icon=yast3
Terminal=false
Categories=Settings;System;
StartupWMClass=YaST3
